set nocp                                " 不兼容 vi 操作

set encoding=utf-8
set sw=4                                " 自动缩进 4 个空格
set ts=4                                " tab 为 4 个空格长度
set et                                  " tab 转成 space
set smarttab                            " 删除多个 space 组成的 tab
set showmatch                           " 符号匹配
set backspace=indent,eol,start          " 更好用的删除
set lbr                                 " 不对单词断行

set nu                                  " 显示绝对行号
set rnu                                 " 显示相对行号
set cursorline                          " 允许光标行
set mouse-=a                            " 允许鼠标操作
set showmatch                           " 允许括号匹配
set laststatus=0                        " 禁用状态栏
set t_Co=256                            " 使用 256 色
set noswapfile                          " 不生成临时文件
set hidden                              " 允许切换未保存的 buffer

filetype on
filetype indent on
filetype plugin on

" 插件
call plug#begin('~/.vim/plugged')
  Plug 'preservim/nerdtree'
  Plug 'vim-airline/vim-airline'
  Plug 'majutsushi/tagbar'
  Plug 'junegunn/fzf'
  Plug 'junegunn/fzf.vim'
call plug#end()

map <F8> <ESC>:TagbarToggle<CR>
map <F2> <ESC>:NERDTreeToggle<CR>


" 关闭最后一个窗口时自动关闭 vim
autocmd BufEnter * if tabpagenr('$') == 1 && winnr('$') == 1 && exists('b:NERDTree') && b:NERDTree.isTabTree() | quit | endif

" Open the existing NERDTree on each new tab.
autocmd BufWinEnter * if getcmdwintype() == '' | silent NERDTreeMirror | endif

" 开启Nerdtree时自动显示Bookmarks
let NERDTreeShowBookmarks=1  
let NERDTreeMinimalUI = 1
let NERDTreeDirArrows = 1
let g:NERDTreeHidden=1

nmap <C-f> :Files<CR>
nmap <C-b> :Buffers<CR>
nmap <C-t> :Tags<CR>
nmap <C-g> :GFiles?<CR>

colorscheme merore

" fzf 颜色和 vim 保持一致
let g:fzf_colors =
\ { 'fg':      ['fg', 'Normal'],
  \ 'bg':      ['bg', 'Normal'],
  \ 'hl':      ['fg', 'Normal'],
  \ 'fg+':     ['fg', 'Normal'],
  \ 'bg+':     ['bg', 'Normal'],
  \ 'hl+':     ['fg', 'Normal'],
  \ 'info':    ['fg', 'Normal'],
  \ 'border':  ['fg', 'Normal'],
  \ 'prompt':  ['fg', 'Normal'],
  \ 'pointer': ['fg', 'Normal'],
  \ 'marker':  ['fg', 'Normal'],
  \ 'spinner': ['fg', 'Normal'],
  \ 'header':  ['fg', 'Normal'] }

let g:fzf_action = {
  \ 'ctrl-v': 'vsplit' }


let g:airline_skip_empty_sections = 1
let g:airline_theme='papercolor'
